{% extends "base.html" %}
{% load static %}

{% block title %}Mountain Bike Trails{% endblock %}

{% block content %}
    <h1>My Favorite Mountain Biking Trails</h1>

    <p class="center">
        <img src="{% static 'webapp/mountainbike.png' %}">
    </p>

    <h2>My Top Ten Trails</h2>

    <ul>
        {% for trail in trails %}
        <li>
            <a id="detail" href="{% url 'detail' trail.id %}">
                {{ trail }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <p class="center" id="button_for_adding">
        <a id="add_button" href="{% url 'add' %}">Add New Trail</a>
    </p>
{% endblock %}