{% extends "base.html" %}
{% load static %}

{% block title %}{{ trail.name }}{% endblock %}

{% block content %}
    <h1>Details for {{ trail.name }}</h1>

    <p id="details_paragraph">
        <strong>Length:</strong> {{ trail.length }} miles<br><br>
        <strong>City:</strong> {{ trail.city }}<br><br>
        <strong>State:</strong> {{ trail.state }}<br><br>
        <strong>Country:</strong> {{ trail.country }}<br><br>
        <strong>Difficulty Level:</strong> {{ trail.difficulty_level }}/10<br><br>

        <strong>Visited: </strong>
        {% if trail.visited %}

        {% else %}

        {% endif %}
    </p>
{% endblock %}