{% extends "base.html" %}
{% load static %}

{% block title %}{{ trail.name }}{% endblock %}

{% block content %}
    <h1>Details for {{ trail.name }}</h1>

    <p id="details_paragraph">
        <strong>Length:</strong> {{ trail.length }} miles<br><br>
        <strong>City:</strong> {{ trail.city }}<br><br>
        <strong>State:</strong> {{ trail.state }}<br><br>
        <strong>Country:</strong> {{ trail.country }}<br><br>
        <strong>Difficulty Level:</strong> {{ trail.difficulty_level }}/10<br><br>

        <strong>Visited: </strong>
        {% if trail.visited %}
            <img class="mark" src="{% static 'webapp/checkmark.png' %}"><br><br>

            <strong>Visted On: </strong> {{ trail.visited_on }}<br><br>
            <strong>My rating: </strong> {{ trail.my_rating }}/5<br><br>

            {% if trail.top_ten %}
                <span id="fav_trails">This is one of my top ten favorite trails!!!</span>
            {% endif %}
        {% else %}
            <img class="mark" src="{% static 'webapp/x.png' %}">
        {% endif %}
    </p>

    <p class="center">
            <a id="back" href="{% url 'home' %}">Back</a>
    </p>
{% endblock %}